---
import Navigation from '../components/Navigation.astro'
import { DarkMode, Link, SkipLink } from 'accessible-astro-components'
import { Icon } from 'astro-icon/components'

/**
 * Header Component
 *
 * @description A component that displays the header of the website
 */
---

<header>
    <SkipLink />
    <Navigation>
        <li class="menu-item">
            <Link href={Astro.resolve('/')}>Home</Link>
        </li>
        <li class="menu-item">
            <Link href={Astro.resolve('/about/')}>About</Link>
        </li>
        <li class="menu-item">
            <Link href={Astro.resolve('/meet-the-team/')}>Meet The Team</Link>
        </li>
        <li class="menu-item">
            <Link href={Astro.resolve('/get-involved/')}>Get Involved</Link>
        </li>
        <li class="menu-item type-icon animate-rotate">
            <DarkMode>
                <Icon aria-hidden="true" name="lucide:moon" slot="light" />
                <Icon aria-hidden="true" name="lucide:sun" slot="dark" />
            </DarkMode>
        </li>
    </Navigation>
</header>

<style lang="scss" is:global>
    header {
        .type-icon {
            display: block;
            margin-inline: -7px;

            svg {
                inline-size: 30px;
                block-size: 30px;
            }
        }
    }
</style>
