---
import Navigation from '../components/Navigation.astro'
import { DarkMode, Link, SkipLink } from 'accessible-astro-components'
import { Icon } from 'astro-icon/components'

/**
 * Header Component
 *
 * @description A component that displays the header of the website
 */
---

<header>
    <SkipLink />
    <Navigation>
        <li class="menu-item">
            <Link href="/">Home</Link>
        </li>
        <li class="menu-item">
            <Link href="/about/">About</Link>
        </li>
        <li class="menu-item">
            <Link href="/meet-the-team/">Meet The Team</Link>
        </li>
        <li class="menu-item has-dropdown">
            <button aria-expanded="false" aria-haspopup="true">Events</button>
            <ul>
                <li class="submenu-item">
                    <Link href="/events/">All Events</Link>
                </li>
                <li class="submenu-item">
                    <Link href="/calendar/">Calendar</Link>
                </li>
            </ul>
        </li>
        <li class="menu-item">
            <Link href="/get-involved/">Get Involved</Link>
        </li>
        <li class="menu-item type-icon animate-rotate">
            <DarkMode>
                <Icon aria-hidden="true" name="lucide:moon" slot="light" />
                <Icon aria-hidden="true" name="lucide:sun" slot="dark" />
            </DarkMode>
        </li>
    </Navigation>
</header>

<style lang="scss" is:global>
    header {
        .type-icon {
            display: block;
            margin-inline: -7px;

            svg {
                inline-size: 30px;
                block-size: 30px;
            }
        }
    }
</style>
